body, .social-icons, .social-icons .social-icon-button, .social-icons .social-icon-button svg {
  margin: 0;
  padding: 0;
}

.social-icon-defs {
  display: none;
}

.social-icons {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.social-icons .social-icon-button, .social-icons .social-icon-button:visited, .social-icons .social-icon-button:hover {
  padding: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 5px;
  text-decoration: none;
  box-sizing: content-box;
}

.social-icons svg.social {
  vertical-align: text-top;
  width: 100%;
  height: 100%;
  opacity: 1;
  fill: #fff;
}

.social-icons .social-icon-button span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/* Icon background */

.social-icons .facebook {
  background-color: #3b5999;
}

.social-icons .twitter {
  background-color: #55acee;
}

.social-icons .pinterest {
  background-color: #bd081c;
}

.social-icons .reddit {
  background-color: #ff5700;
}

.social-icons .reddit svg {
  margin-left: -1px;
}

.social-icons .instagram {
  background-color: #3f729b;
}

.social-icons .youtube {
  background-color: #cd201f;
}

.social-icons .youtube svg {
  margin-left: -0.5px;
}

.social-icons .vine {
  background-color: #00b489;
}

.social-icons .vimeo {
  background-color: #1ab7ea;
}

.social-icons .vimeo svg {
  margin-left: -0.5px;
}

.social-icons .skype {
  background-color: #00AFF0;
}

.social-icons .feedly {
  background-color: #6cc655;
}

.social-icons .pocket {
  background-color: #ef4056;
}

.social-icons .telegram {
  background-color: #0088cc;
}

.social-icons .telegram svg {
  margin-left: -1px;
  margin-top: -1px;
}

.social-icons .email {
  background-color: #669C41;
}

.social-icons .email svg {
  margin-top: -2px;
}

.social-icons .rss {
  background-color: #ff6600;
}

.social-icons .print {
  background-color: #62665E;
}
